<div class="home-container">
  <div class="home flex-list">
    <div class="profile part centered">Ingénieur en développement</div>
    <div class="formation part centered">
      Diplômé de Polytech Grenoble, filière informatique, spécialité multimédia.
      Lors de mon parcours j'ai pu apprendre et utiliser tout un tas de
      technologies. Voici une listes de ces technologies et de leur niveau de
      maîtrise.
      <div class="technos">
        <div class="maitrise"></div>
        <div class="utilise"></div>
      </div>
    </div>
    <div class="project part centered">
      Ce projet a deux objectifs principaux. Le premier est de découvrir et
      utiliser des technologies que je ne connaissais pas, à savoir Angular
      (framework) et Render (serveur). Le deuxième est d'avoir une démonstration
      de mes compétences techniques.
    </div>
  </div>
</div>
