<div class="home-container">
  <div class="home flex-list">
    <div class="profile part centered">
      <p>
        Bonjour ! Je suis un développeur passionné, avec une expertise dans la
        conception et le développement d’applications web. Du front-end
        (<b>Angular</b>, <b>React</b>, <b>TypeScript</b>, <b>HTML</b>,
        <b>CSS</b>) au back-end (<b>Node.js</b>, <b>Express</b>, <b>Python</b>,
        <b>Java</b>, <b>C#</b>), je maîtrise une large gamme de technologies
        pour répondre aux besoins variés des projets. En matière de
        programmation, mes compétences s’étendent de l’orienté objet
        (<b>Java</b>, <b>C#</b>) à la programmation fonctionnelle
        (<b>Haskell</b>, <b>Ocaml</b>) et événementielle. Je suis à l’aise avec
        les méthodes <b>Agile Scrum</b> et les outils modernes comme
        <b>Docker</b>, <b>Render</b> et <b>Azure DevOps</b> pour mettre en place
        des pipelines CI/CD et assurer un déploiement fluide. Mon approche est
        toujours guidée par les bonnes pratiques : <b>tests unitaires</b>,
        architecture logicielle bien pensée, et suivi des projets via
        <b>Git</b> (<b>GitHub</b>, <b>GitLab</b>). Enfin, j’aime
        particulièrement participer au design logiciel, optimiser les processus
        avec les méthodologies DevOps, et collaborer pour livrer des
        applications de qualité.
      </p>
    </div>
    <div class="formation part centered">
      Diplômé de Polytech Grenoble, filière informatique, spécialité multimédia.
      Lors de mon parcours j'ai pu apprendre et utiliser tout un tas de
      technologies. Voici une listes de ces technologies et de leur niveau de
      maîtrise.
      <div class="technos">
        <div class="maitrise"></div>
        <div class="utilise"></div>
      </div>
    </div>
    <div class="project part centered">
      Ce projet a deux objectifs principaux. Le premier est de découvrir et
      utiliser des technologies que je ne connaissais pas, à savoir Angular
      (framework) et Render (serveur). Le deuxième est d'avoir une démonstration
      de mes compétences techniques.
    </div>
  </div>
</div>
