.home{
  height: 100%;

}

.home::before{
  content: '';
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background-image: url('https://killiangricourt-github-io.onrender.com/images/polytech.webp');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  clip-path: inset(0 0 0 0);
  filter: blur(5px) opacity(0.5);
}

.part {
  flex: 1;
  padding: 5%;
  border: 1px solid #222831;
  display: flex;
  background-color: rgba(0, 0, 0, 0.25);
  z-index: 1;
}
