<div class="home-container">
  <div class="home flex-list">
    <div class="profile part centered flex-list">
      <p class="bonjour">Bonjour !</p>
      <p>
        Je suis un développeur passionné, expert en conception et développement
        web, du front-end (<b>Angular</b>, <b>React</b>, <b>TypeScript</b>,
        <b>HTML</b>, <b>CSS</b>) au back-end (<b>Node.js</b>, <b>Express</b>,
        <b>Python</b>, <b>Java</b>, <b>C#</b>). Je maîtrise aussi bien la
        programmation orientée objet (<b>Java</b>, <b>C#</b>) que fonctionnelle
        (<b>Haskell</b>, <b>Ocaml</b>).
      </p>
      <p>
        Adepte des méthodes <b>Agile Scrum</b>, je travaille avec des outils
        modernes comme <b>Docker</b>, <b>Render</b> et <b>Azure DevOps</b> pour
        des pipelines CI/CD et des déploiements fluides. Mon approche :
        <b>tests unitaires</b>, architecture solide, gestion via
        <b>Git</b> (<b>GitHub</b>, <b>GitLab</b>) et optimisation DevOps.
      </p>
      <p>
        Motivé et rigoureux, je conçois des solutions sur mesure, collaborant
        efficacement pour des applications de qualité.
      </p>
    </div>
    <div class="formation part centered flex-list">
      <p>
        Diplômé de <b>Polytech Grenoble</b>, filière <b>informatique</b>,
        spécialité <b>multimédia</b>. Lors de mon parcours j'ai pu apprendre et
        utiliser tout un tas de technologies. Voici une liste non exhaustive de
        ces technologies.
      </p>
      <div class="technos">
        <div class="centered">
          <h3>Langages de programmation</h3>
          <ul>
            <li>
              <img
                alt="Java logo"
                src="https://cdn-icons-png.flaticon.com/512/226/226777.png"
              />Java
            </li>
            <li>
              <img
                alt="C# logo"
                src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d2/C_Sharp_Logo_2023.svg/131px-C_Sharp_Logo_2023.svg.png"
              />C#
            </li>
            <li>
              <img
                alt="Python logo"
                src="https://cdn4.iconfinder.com/data/icons/logos-and-brands/512/267_Python_logo-256.png"
              />Python
            </li>
            <li>
              <img
                alt="TypeScript logo"
                src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f5/Typescript.svg/64px-Typescript.svg.png"
              />TypeScript
            </li>
            <li>
              <img
                alt="Haskell logo"
                src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/1c/Haskell-Logo.svg/131px-Haskell-Logo.svg.png"
              />Haskell
            </li>
            <li>
              <img
                alt="Ocaml logo"
                src="https://cdn.icon-icons.com/icons2/2699/PNG/512/ocaml_logo_icon_170902.png"
              />Ocaml
            </li>
            <li>
              <img
                alt="JavaScript logo"
                src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/73/Javascript-736400_960_720.png/131px-Javascript-736400_960_720.png"
              />JavaScript
            </li>
            <li>
              <img
                alt="HTML logo"
                src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/61/HTML5_logo_and_wordmark.svg/langfr-130px-HTML5_logo_and_wordmark.svg.png"
              />HTML
            </li>
            <li>
              <img
                alt="CSS logo"
                src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/ab/Official_CSS_Logo.svg/langfr-130px-Official_CSS_Logo.svg.png"
              />CSS
            </li>
          </ul>
        </div>
        <div class="centered">
          <h3>Frameworks et bibliothèques</h3>
          <ul>
            <li>
              <img
                alt="Angular logo"
                src="https://angular.dev/assets/images/press-kit/angular_icon_gradient.gif"
              />Angular
            </li>
            <li>
              <img
                alt="React logo"
                src="https://cdn0.iconfinder.com/data/icons/logos-brands-in-colors/128/react_color-256.png"
              />React
            </li>
            <li>
              <img
                alt="Node.js logo"
                src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d9/Node.js_logo.svg/220px-Node.js_logo.svg.png"
              />Node.js
            </li>
            <li>
              <img
                alt="Express logo"
                src="https://adware-technologies.s3.amazonaws.com/uploads/technology/thumbnail/20/express-js.png"
              />Express
            </li>
          </ul>
        </div>
        <div class="centered">
          <h3>Outils de développement et gestion</h3>
          <ul>
            <li>
              <img
                alt="Docker logo"
                src="https://cdn3.iconfinder.com/data/icons/social-media-2169/24/social_media_social_media_logo_docker-512.png"
              />Docker
            </li>
            <li>
              <img
                class="improve-bg"
                alt="Render logo"
                src="https://images.crunchbase.com/image/upload/c_pad,f_auto,q_auto:eco,dpr_1/gkq3dkkfkec8edd6fuay"
              />Render
            </li>
            <li>
              <img
                alt="Azure DevOps logo"
                src="https://www.sparks-formation.com/wp-content/uploads/2020/07/azure-devops.png"
              />Azure DevOps
            </li>
            <li>
              <img
                alt="Git logo"
                src="https://cdn3.iconfinder.com/data/icons/social-media-2169/24/social_media_social_media_logo_git-256.png"
              />Git
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="project part centered">
      Ce projet a deux objectifs principaux. Le premier est de découvrir et
      utiliser des technologies que je ne connaissais pas, à savoir Angular
      (framework) et Render (serveur). Le deuxième est d'avoir une démonstration
      de mes compétences techniques.
    </div>
  </div>
</div>
