.lpanel {
  width: auto;
  max-height: 100%;
  padding: 20px;
}

.circle-container {
  clip-path: circle(40% at center);
  height: fit-content;
  width: fit-content;
}

.profile {
  align-items: center;
  text-align: center;
  width: fit-content;
  margin: auto;
}

#pp {
  height: 100%;
  width: 100%;
  transform: translate(0, 20px);
}

.name {
  font-size: 32px;
}

.CV-button {
  position: relative;
  background-color: #323841;
  color: white;
  border: none;
  padding: 15px 30px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  overflow: hidden;
}

.CV-button:hover {
  animation: color 0.5s alternate infinite;
}

@keyframes color {
  0% {
    background-color: #e74c3c;
  }
  20% {
    background-color: #f39c12;
  }
  40% {
    background-color: #2ecc71;
  }
  60% {
    background-color: #3498db;
  }
  80% {
    background-color: #9b59b6;
  }
}
