.experience {
  width: 100%;
  max-width: 15%;
  height: 300px;
  margin: auto;
  text-align: center;
  border: 3px solid black;
  border-radius: 10px;
  background: white;
  transition: transform 0.3s ease-in-out;
}

.experience-container {
  display: flex;
  flex: 1;
}

.experiences {
  flex: 1;
  display: flex;
  margin: auto;
  text-align: center;
}

@media (max-width: 768px) {
  .experience {
    max-width: 100%;
  }
}
.title {
  max-width: fit-content;
  margin: auto;
}

.description {
  width: auto;
}
