.experience {
  width: 15%;
  min-width: min-content;
  height: 300px;
  margin: auto;
  text-align: center;
  border: 3px solid black;
  border-radius: 10px;
  background: white;
  align-items: center;
  display: flex;
}

@media (max-width: 768px) {
  .experience {
    width: 55%;
  }
}

.experiences {
  flex: 1;
  display: flex;
  margin: auto;

}



.title {
  max-width: fit-content;
  margin: auto;
}

.description {
  width: auto;
}
