<div class="experiences">
  <app-image-displayer class="background-image" [src]="backgroundImage" />
  @if (isLoading) {
    <!-- CSS animation for loading From Uiverse.io by jeremyssocial -->
    <div class="flex-list">
      <div class="terminal-loader">
        <div class="terminal-header">
          <div class="terminal-title">Status</div>
          <div class="terminal-controls">
            <div class="control close"></div>
            <div class="control minimize"></div>
            <div class="control maximize"></div>
          </div>
        </div>
        <div class="text">Loading...</div>
      </div>
      <p class="centered">
        Le server peut prendre jusqu'à 2 minutes pour démarrer
      </p>
    </div>
  }

  @if (!isLoading && experiences && experiences.length > 0) {
    <app-carrousel
      class="flex-container"
      [elements]="experiences"
      (elementChange)="onElementChange($event)"
    />
    <div></div>
  }

  @if (errorMessage) {
    <p class="error">Erreur : {{ errorMessage }}</p>
  }
</div>
